#clock{
  background-color: rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: relative;
}

.number{
  position: absolute;
  top: 0;
  background-color: red;
  width: 100%;
  height: 100%;
}


